<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
  <h2>Редактирование пользователя: </h2>
  <form th:action="@{/admin/update}" th:method="POST" th:object="${user}">
    <div>
      <input type="hidden" name="id" th:value="${user.getId()}" />
      <label for="name">Имя:</label>
      <input type="text" th:field="*{name}" id="name" placeholder="Write name" />

      <br><br>
      <label for="password">Пароль:</label>
      <input type="password" th:field="*{password}" id="password" placeholder="Write password" />

      <br><br>
      <label>Роли:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.role}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
      </label>

      <br><br>
      <input type="submit" value="Update!">
    </div>
  </form>
</div>
</body>
</html>