<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
</head>
<body>
    <div th:replace="fragments/header :: header" />
    <div>
        <h2>Информация о пользователе:</h2>
        <p th:text="${user.getName()}"></p>
        <p th:text="${user.getLastname()}"></p>
        <p th:text="${user.getAge()}"></p>
        <p th:text="${user.getEmail()}"></p>
        <p th:text="${user.getRoles()}"></p>

        <a th:href="@{/admin/edit(id=${user.getId()})}">Редактировать</a>
            <br/>
            <hr/>
        <form th:action="@{delete}" th:method="POST">
            <input type="hidden" name="id" th:value="${user.getId()}" />
            <input type="submit" value="DELETE" />
        </form>
    </div>
</body>
</html>