<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админка</title>
</head>
<div th:replace="fragments/header :: header"></div>
<body>
    <div>
        <h2>Список пользователей</h2>
        <table th:border="1">
            <tr>
                <th>Имя</th>
                <th>Пароль</th>
                <th>Роли</th>
            </tr>
            <tr th:each="user : ${users}">
                <td>
                    <a th:href="@{/admin/show(id=${user.getId()})}" th:utext="${user.getName()}"></a>
                </td>
                <td th:utext="${user.getPassword()}"></td>
                <td th:utext="${user.getRoles()}"></td>
            </tr>
        </table>
    </div>
    <a href="admin/new"> Добавить нового пользователя </a>

</body>
</html>