<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <h1>Профиль пользователя:
        <p th:text="${user.getName()}"></p>
        <p th:text="${user.getLastname()}"></p>
    </h1>
    <p>Возраст:</p>
    <p th:text="${user.getAge()}"></p>
    <p>Электронная почта:":</p>
    <p th:text="${user.getEmail()}"></p>
    <p>У вас есть следующие права доступа:</p>
    <p th:text="${user.getRoles()}"></p>

</body>
</html>