<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header class="container-fluid" style="height: 50px;">
    <div class="row h-100 d-flex align-items-center bg-dark">
        <div class="col-8 justify-content-lg-start">
            <span th:text="${userauth.email}" class="text-white fw-bold"></span>
            <span class="text-white"> with roles: </span>
            <span th:each="role : ${userauth.roles}" th:text="${Role.getReadableRole(role.getRole())} + ' '" class="text-white"></span>
        </div>
        <div class="col-4 justify-content-lg-end">
            <form th:action="@{/logout}" method="post" class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn fw-bold" style="color: dimgray;">Logout</button>
            </form>
        </div>
    </div>
</header>

<main class="container-fluid">
    <div class="row" style="height: 100vh;">
        <!-- Sidebar -->
        <nav class="col-2 d-lg-block sidebar" style="padding-top: 15px; height: 100vh; overflow-y: auto;">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item v-100">
                    <a th:if="${userauth.hasRole('ROLE_ADMIN')}" class="nav-link" aria-current="page" href="/adminpanel">
                        <div class="text-left">Admin</div>
                    </a>
                    <a class="nav-link active" aria-current="page" href="/user">
                        <div class="text-left">User</div>
                    </a>
                </li>
            </ul>
        </nav>


        <!-- Main content -->
        <div class="col-10" style="padding-top: 15px; background-color: #F4F4F4;">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                <h2 class="h2">User information</h2>
            </div>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="users_info"
                     tabindex="0">
                    <div class="card" id="users_info">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-borderless" >
                                    <!--                                    th:object=""-->
                                    <thead>
                                    <tr class="table-white">
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-light">
                                        <td th:text="${userauth.getId()}">id</td>
                                        <td th:text="${userauth.getName()}">name</td>
                                        <td th:text="${userauth.getLastname()}">lastname</td>
                                        <td th:text="${userauth.getAge()}">age</td>
                                        <td th:text="${userauth.getEmail()}">email</td>
                                        <td>
                                             <span th:each="role : ${userauth.getRoles()}"
                                                   th:text="${Role.getReadableRole(role.getRole())} + ' '">
                                             </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <title>Spring Security Example</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div th:replace="fragments/header :: header"></div>-->
<!--    <h1>Профиль пользователя:-->
<!--        <p th:text="${user.getName()}"></p>-->
<!--        <p th:text="${user.getLastname()}"></p>-->
<!--    </h1>-->
<!--    <p>Возраст:</p>-->
<!--    <p th:text="${user.getAge()}"></p>-->
<!--    <p>Электронная почта:":</p>-->
<!--    <p th:text="${user.getEmail()}"></p>-->
<!--    <p>У вас есть следующие права доступа:</p>-->
<!--    <p th:text="${user.getRoles()}"></p>-->

<!--</body>-->
<!--</html>-->